server:
  port: 8080

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/{DB이름}?serverTimezone=Asia/Seoul
    username: {유저명}
    password: {비밀번호}

  jpa:
    hibernate:
      ddl-auto: create  # 처음 이후에는 update로 수정
    properties:
      hibernate:
        format_sql: true
    show-sql: true

logging:
  level:
    org.hibernate.SQL: debug