name: Backend Deploy Trigger

on:
  push:
    branches:
      - develop
    paths:
      - "ZzicGo_be/**"

jobs:
  deploy:
    uses: ZzicGo_be/.github/workflows/deploy-back.yml
    with:
      ref: ${{ github.ref }}
